{{#each this}}
    <div class="country__card">
     <img class="country__img" src="{{flags.svg}}" alt="Flag" width="30" height="25">
     <h1 class="country__title">{{name.official}}</h1>
     </div>
{{/each}}